:root {
    --main-primary-color: #3c6e71;
    --main-secondary-color: #284b63;
    --bw-light-color: #d9d9d9;
    --bw-dark-color: #353535;
    --bs-btn-focus-shadow-rgb: 255, 255, 255 !important;
}

* {
    /* font-family: "Poiret One", serif; */
    font-family: "Quicksand", serif;
}

:focus {
    outline: 1px solid black !important;
    box-shadow: none !important;
    /* Soft blue glow */
    border-color: #000000 !important;
}

.progress {
    /* --bs-progress-bar-bg: #353535 !important; */
    height: 100% !important;
}

.nav-link {
    color: var(--bw-light-color) !important;
}

.nav-link.active {
    background-color: var(--main-secondary-color) !important;
    color: white !important;
    font-weight: bold;
}


#heroSection {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#navStyle {
    list-style: none;
}

#navStyle>li {
    padding: 1rem;
    vertical-align: center;
    position: relative;
    overflow: hidden;
}

#navStyle>li::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    right: 50%;
    height: 2px;
    background-color: white;
    transition: left 0.5s ease-out, right 0.5s ease-out;
}

#navStyle>li:hover::before {
    left: 0;
    right: 0;
}

#navStyle>li>a {
    padding: 1rem;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.selected-nav-li {
    pointer-events: none;
}

.selected-nav-li>a {
    color: var(--bw-dark-color) !important;
    border-radius: 10%;
    background-color: white;
    font-weight: 900 !important;
    pointer-events: none;
}

#sideNav {
    z-index: 9999;
    height: 100vh;
}

.sideNav-pos {
    height: 75%;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
}

.sideNav-initial-pos {
    opacity: 0;
    pointer-events: none;
}

.hero-container {
    z-index: 1;
    margin-left: calc(5vw + 128px);
    left: 0px;
    bottom: 0px;
    transform: translateY(-50%);
}

.hero-main {
    background-color: var(--main-primary-color) !important;
    opacity: 0.75;
    /* color: white !important; */
}

.hero-main:hover {
    background-color: white !important;
    transition: all 0.2s ease 0s;
}

.hero-secondary:hover>h5 {
    transition: all 0.2s ease 0s;
    color: black !important;
}

.responsive-width {
    width: calc(90vw - 256px) !important;
}

.about-flex-responsive {
    flex-direction: row;
}

.about-flex-responsive>.about-image {
    margin-bottom: auto;
}

.about-image {
    position: relative;
    width: 360px;
    height: 360px;
    min-width: 360px;
    min-height: 360px;
    border-radius: 5%;
    background-image: url("About.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* box-shadow: 10px 10px 10px -5px var(--main-secondary-color), -10px -10px 10px -5px var(--main-primary-color); */
    box-shadow: -20px 20px 0px -10px var(--main-secondary-color);
    transition: all 0.2s ease 0s;
    margin-left: 10px;
}

.about-image:hover {
    /* cursor: pointer; */

    box-shadow: 0px 0px 0px 0px var(--main-secondary-color);
    transform: translate(-5px, 5px);
}

.about-image:hover>h1 {
    transform: translate(5px, -5px);

}

.about-image h1 {
    transition: all 0.2s ease 0s;
}

.about-text>div>p {
    color: var(--bw-light-color);
    padding-left: 1rem;
    border-left: 5px solid var(--main-secondary-color);
    position: relative;
    z-index: 1;
    margin-bottom: 0px;
    transition: all 0.2s ease 0s;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

}

.about-text>div>p:hover {
    transform: scale(1.05);
    color: white;
    /* padding-top: 0.5rem;
    padding-bottom: 0.5rem; */

}

.about-text>div>p::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0%;
    right: 100%;
    height: 100%;
    background-color: var(--main-secondary-color);
    opacity: 0.5;
    transition: all 0.5s ease-out;
    z-index: -1;
}

.about-text>div>p:hover::before {
    left: 0;
    right: 0;

}

#v-pills-tabContent {
    transition: all 0.5s ease;
}

#v-pills-tabContent::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 10px;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    /* box-shadow: 20px 20px 0px -10px rgba(40, 75, 99, 1);  */
    background-color: #284b63;
    /* z-index: -1;  */
}

#resumeDownload:hover {
    background-color: #284b63;
}

.preview-modal-size {
    max-width: 90vw !important;
    width: 90vw !important;
    padding: auto;
    /* height: 100vh; */
}

.preview-modal-size .modal-content {
    height: 80vh;
}

.portfolio-block-margin {
    margin-right: 3rem;
    height: 200px;
    width: 300px;
}

.portfolio-content-layout {
    justify-content: start;

}

.contact-items {
    min-width: 50%;
    padding: 3rem;
}

.contact-flow>div {
    border-right: 1px solid white;
    border-top: 0px;
}

.contact-method {
    max-width: 75%;
    min-width: 75%;
    transition: all 0.2s ease;
    cursor: pointer;
    position: relative;
    /* z-index: 1; */
    background: linear-gradient(to bottom right, rgb(15, 15, 15), #000000);
    border-radius: 10px;
    border: 1px white solid;
    justify-content: start;
}


.contact-method:hover {
    transform: scale(1.05);
}

#revealContactsButton {
    
    width: 75%;
    margin: 0 0 0 auto;
}

#revealContactsButton:hover {
    background-color: white !important;
    color: black !important;
}

.contact-input {
    background-color: black !important;
    border: none !important;
    border-bottom: 1px white solid !important;
    border-radius: 0px !important;
    color: white !important;
}

.preference-group {
    border: 1px solid white;
}

.preference-group>label {
    background-color: black;
    border: none;
    border-right: 1px solid white;
    margin-right: 1px;
    border-radius: 0px;
    --bs-btn-focus-shadow-rgb: 255, 255, 255 !important;

}

.preference-group>label:last-child {
    border: none;
    margin-right: 0px;
}

.preference-radio-selected {
    background-color: white !important;
    color: black !important;
    border-radius: 0px !important;
    border: none !important;

}

.preference-radio-unselected:hover {
    background-color: rgba(255, 255, 255, 0.75) !important;
    color: white !important;
    margin-right: 2px;
    border: none;
}

.preference-radio-selected-first {
    background-color: white !important;
    color: black !important;
    border-radius: 10px 0px 0px 10px !important;
    border: none !important;
}

.preference-radio-selected-first:hover {
    background-color: white !important;
    color: black !important;
    border-radius: 10px 0px 0px 10px !important;
    border: none !important;
}

.preference-radio-unselected-first {
    border-radius: 10px 0px 0px 10px !important;
}

.preference-radio-unselected-first:hover {
    background-color: rgba(255, 255, 255, 0.75) !important;
    color: white !important;
    border-radius: 10px 0px 0px 10px !important;

}

.preference-radio-selected-last {
    background-color: white !important;
    color: black !important;
    border-radius: 0px 10px 10px 0px !important;
    border: none !important;
}

.preference-radio-selected-last:hover {
    background-color: white !important;
    color: black !important;
    border-radius: 0px 10px 10px 0px !important;
    border: none !important;
}

.preference-radio-unselected-last {
    border-radius: 0px 10px 10px 0px !important;
}

.preference-radio-unselected-last:hover {
    background-color: rgba(255, 255, 255, 0.75) !important;
    color: white !important;
    border-radius: 0px 10px 10px 0px !important;
    border: none !important;
}

.preference-radio-selected:focus,
.preference-radio-unselected:focus,
.preference-radio-unselected:focus-visible,
.preference-radio-selected-last:focus,
.preference-radio-unselected-last:focus,
.preference-radio-selected-first:focus,
.preference-radio-unselected-first:focus {
    border-color: white !important;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5) !important;
    outline: none !important;
    background-color: rgba(255, 255, 255, 0.75) !important;
}

.btn-primary:focus {
    box-shadow: none !important;
}

.form-text-optional {
    color: rgba(255, 255, 255, 0.5) !important;
    font-weight: lighter;
}

.submit-button {
    background-color: var(--main-primary-color) !important;

}

@media screen and (max-width: 400px) {
    .responsive-width {
        width: calc(90vw) !important;
    }
}

@media screen and (min-width: 400px) and (max-width: 575px) {
    .responsive-width {
        width: calc(90vw - 64px) !important;
    }
}

@media screen and (max-width: 575px) {
    #topNavToggle {
        background: linear-gradient(to bottom right, rgb(15, 15, 15), #00000080);
        /* opacity: 0.9; */
        color: white;
        border: 1px solid white;
        margin: 32px;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(5px);
    }

    #topNavClose {
        color: white;
        margin-left: 8px;
    }

    #topNavClose>i {
        font-size: 2.5rem;
        font-weight: lighter !important;
    }

    #topNav {
        transition: all 0.5s ease;
        /* opacity: 0.5; */
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(5px);
        z-index: 9999;
        position: fixed;
        height: 100vh;
        width: 100vw;
        background: linear-gradient(to bottom, rgb(15, 15, 15), #00000080);
        /* box-shadow: rgb(0, 0, 0) 0px 50px 70px 40px; */
    }

    #topNav>ul {
        margin-top: 10%;
    }

    #navStyle>li::before {
        display: none;
    }

    .disabled-phone {
        display: none !important;
    }

    .hero-container {
        margin-left: 0px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 75vw;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .hero-phone-button-container {
        width: 33%;
        min-width: 150px;
        margin: 0px auto;
    }

    .hero-phone-button-container>button {
        width: 100%;
    }

    #heroSection {
        background-position: 100% center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .about-image {
        max-width: 100%;
        max-height: 90vw;
        min-width: 100px;
        min-height: 100px;
    }

    .about-flex-responsive {
        flex-direction: column;
    }

    #aboutSection>h1 {
        margin-left: 1rem;
    }

    .about-flex-responsive>.about-image {
        margin-bottom: 2rem;
        margin-left: 1rem;
    }

    .flex-responsive {
        flex-direction: column;
    }

    .portfolio-block-margin {
        margin: 0px 0px 3rem 0px;
        width: 100%;
        min-height: 100px;
        overflow: hidden;
    }

    .portfolio-block-timeout {
        left: 0%;
        right: 0%;
        /* width: 100%; */
        height: 5px;
        /* box-shadow: 0px 0px 5px black ; */
        background-color: white;

        z-index: 2;
        border-radius: 10px 10px 0px 0px;
        opacity: 0;
    }

    .portfolio-block-timeout-active {
        /* transition: 5s right ease; */
        transition: transform 5s ease;
        transform: translateX(-100%);
        opacity: 1 !important;
        /* right: 100% !important; */
        border-radius: 10px 0px 0px 0px !important;
    }

    .portfolio-content-layout {
        justify-content: start;
        flex-direction: column;
    }

    .contact-flow {
        flex-direction: column-reverse;
    }

    .contact-flow>div {
        border-right: 0px;
        border-top: 1px dashed rgba(255, 255, 255, 0.5);
    }

    .contact-items {
        width: 100%;
        padding: 3rem 1rem;
    }

    .contact-method {
        width: 100%;
        max-width: 100%;
        justify-content: start;
    }

    #revealContactsButton {
        width: 100%;
        margin: 0 auto;
    }

}

@media screen and (max-width: 991px) and (min-width: 576px) {
    #topNavToggle {
        background: linear-gradient(to bottom right, rgb(15, 15, 15), #00000080);
        /* opacity: 0.5; */
        color: white;
        border: 1px solid white;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(5px);
    }

    #topNavClose {
        color: white;
        margin-left: 8px;
    }

    #topNavClose>i {
        font-size: 2.5rem;
        font-weight: lighter !important;
    }

    #topNavToggle {
        /* transform: translateX(-100vw); */
        transition: all 0.5s ease;

    }

    .topNavToggle-initial-pos {
        transform: translateX(calc(-100% - 35px));
    }

    .topNavToggle-scrolled-pos {
        transform: translateX(calc(100% - 32px));
    }

    #topNav {
        transition: all 0.5s ease;
        /* opacity: 0.5; */
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(5px);
        z-index: 9999;
        position: fixed;
        height: 100vh;
        width: 50vw;
        background: linear-gradient(to bottom, rgb(15, 15, 15), #00000080);
        /* box-shadow: rgb(0, 0, 0) 0px 50px 70px 40px; */
    }

    #topNav>ul {
        margin-top: 10%;
    }

    #navStyle>li::before {
        display: none;
    }

    .disabled-phone {
        display: none !important;
    }

    #mainNav {
        position: fixed;
        transition: transform 1s ease;
    }

    .tablet-anim {
        transform: translateX(-100%);
    }

    .responsive-width {
        width: calc(90vw - 64px) !important;
    }

    .hero-container {
        margin-left: 0px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 75vw;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .hero-phone-button-container {
        width: 33%;
        min-width: 150px;
        margin: 0px auto;
    }

    .hero-phone-button-container>button {
        width: 100%;
    }

    .about-image {
        max-width: 100%;
        min-width: 100%;
        min-height: 100px;
    }

    .about-flex-responsive {
        flex-direction: column;
    }

    #aboutSection>h1 {
        margin-left: 1rem;
    }

    .about-flex-responsive>.about-image {
        margin-bottom: 2rem;
        margin-left: 1rem;
    }

    .flex-responsive {
        flex-direction: column;
    }

    .portfolio-block-margin {
        margin: 0px 0px 3rem 0px;
        width: 100%;
        min-height: 100px;
        overflow: hidden;
    }

    .portfolio-block-timeout {
        left: 0%;
        right: 0%;
        /* width: 100%; */
        height: 5px;
        /* box-shadow: 0px 0px 5px black ; */
        background-color: white;

        z-index: 2;
        border-radius: 10px 10px 0px 0px;
        opacity: 0;
    }

    .portfolio-block-timeout-active {
        /* transition: 5s right ease; */
        transition: transform 5s ease;
        transform: translateX(-100%);
        opacity: 1 !important;
        /* right: 100% !important; */
        border-radius: 10px 0px 0px 0px !important;
    }

    .portfolio-content-layout {
        justify-content: start;
        flex-direction: column;
    }

    .contact-flow {
        flex-direction: column-reverse;
    }

    .contact-flow>div {
        border-right: 0px;
        border-top: 1px dashed rgba(255, 255, 255, 0.5);
    }

    .contact-items {
        width: 100%;
        padding: 3rem 1rem;
    }

    .contact-method {
        margin-right: auto;
        width: 50%;
        max-width: 50%;
        justify-content: start;
    }

    #revealContactsButton {
        width: 50%;
        margin: 0 auto;
    }

}